@model IEnumerable<Aperture_Lab.Models.Manager>
@{
    ViewBag.Title = "Assign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Assign</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
        </tr>
    }



</table>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        
        @foreach (var item in Model)
        {
            <div class="col-md-10">
            @Html.RadioButton("Managerid",item.ID);
        </div>
        }

    </div>
    <div class="form-actions no-color">
        <input type="submit" value="AssignManager" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}
